<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.core.dao.LoginDAO">

    <select id="getLoginMessage" resultType="com.core.pojo.account.LoginAccountDTO">
        SELECT * FROM TB_OFFICE_ACCOUNT WHERE ACCOUNT = #{account}
    </select>
</mapper>